#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/*
bordas branca pequena 
Cantos arredondados 
Sombra bramca bem preechida, tamanho medio na parte  de baixo e na direita 
Espçamentos internos 
*/

.Card {
  border: 0.2rem solid pink; 
  padding: 1rem;
  border-radius: 1rem;
  
  transition: all 0.1s;

}

.Card:hover {
  box-shadow: 0.2rem 0.2rem pink;
  transition: -0.2rem -0.2rem;
}

.Card > h2{
  font-size: 2rem;
}

.Card > img {
  border-radius: 1rem;
}


  
}
